/* @import url('./components/profile/Profile.module.css'); */
/* @import url('./components/statistics/Statistics.module.css'); */
/* body {
  background-color: rgb(139, 18, 55);
  background-image: url(/src/pages/images/doroga.jpg);
  background-size: cover;
  color: rgb(157, 223, 95);
} */

ul {
  list-style: none;
}

.stats {
  list-style: none;

  display: flex;
  justify-content: space-around;
}

.stat-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border: 2px solid rebeccapurple;
}

.App {
  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;

  color: rgb(212, 9, 145);
}

body {
  background-image: url(/src/pages/images/doroga.jpg);
  background-size: cover;
  color: rgb(157, 223, 95);
}
